<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chatMapper">
	
	<resultMap id="chatResultSet" type="com.kh.dstay.customer_center.model.vo.Chat">
		<id property="chatNo" column="chatno"/>
		<result property="nickName" column="nickname"/>
		<result property="chatWriter" column="chatwriter"/>
		<result property="chatContents" column="chatcontents"/>
		<result property="chatTime" column="chattime"/>
		<result property="chatRead" column="chatread"/>
	</resultMap>
	
	
	<select id="selectChatList" resultMap="chatResultSet">
		select chatno, chatwriter, mno, nickname, chatcontents, to_char(chattime, 'AM HH:MI') as chattime, chatread
		from chat
		join member on(chatwriter = mno)
		where chatread='N'
		order by chatno
	</select>
	
</mapper>