<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="frequencyQuestionAnswerMapper">
	
	<resultMap id="FQAResultSet" type="com.kh.dstay.frequencyQuestionAnswer.model.vo.FrequencyQuestionAnswer">
		<id property="fqaNo" column="fqano"/>
		<result property="category" column="category"/>
		<result property="division" column="division"/>
		<result property="qTitle" column="qtitle"/>
		<result property="aTitle" column="atitle"/>
		<result property="aContents" column="acontents"/>
		<result property="status" column="status"/>
	</resultMap>
	
	<!-- fqa 전체 리스트 조회 -->
	<select id="selectFQAListAll" resultMap="FQAResultSet">
		select *
		from FQA
		where status='Y'
	</select>
	
	<!-- fqa 배송 리스트 조회 -->
	<select id="selectFQAListDelivery" resultMap="FQAResultSet">
		select *
		from FQA
		where status='Y' and category='배송'
	</select>
	
	<!-- fqa 교환/배송/환불 리스트 조회 -->
	<select id="selectFQAListRefund" resultMap="FQAResultSet">
		select *
		from FQA
		where status='Y' and category='반품/교환/환불'
	</select>
	
	<!-- fqa 주문/결제 리스트 조회 -->
	<select id="selectFQAListOrder" resultMap="FQAResultSet">
		select *
		from FQA
		where status='Y' and category='주문/결제'
	</select>
	
	<!-- fqa 회원 리스트 조회 -->
	<select id="selectFQAListMember" resultMap="FQAResultSet">
		select *
		from FQA
		where status='Y' and category='회원서비스'
	</select>
	
	<!-- fqa 보상 리스트 조회 -->
	<select id="selectFQAListReward" resultMap="FQAResultSet">
		select *
		from FQA
		where status='Y' and category='보상제도'
	</select>
	
	<!-- fqa 기타 리스트 조회 -->
	<select id="selectFQAListOther" resultMap="FQAResultSet">
		select *
		from FQA
		where status='Y' and category='기타'
	</select>
	
	<!-- 검색어 입력해서 리스트 조회 -->
	<select id="selectFQAListSearchTerm" resultMap="FQAResultSet">
		select *
		from fqa
		where status='Y' and (category like '%' || #{searchTerm} || '%'
						   or division like '%' || #{searchTerm} || '%'
						   or qtitle like '%' || #{searchTerm} || '%'
						   or atitle like '%' || #{searchTerm} || '%'
						   or acontents like '%' || #{searchTerm} || '%')
	</select>
</mapper>
