<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="suggestionMapper">
 	
 	<insert id="insertSuggestion">
 		INSERT INTO SUGGESTION
 		VALUES(SEQ_SUGGESTION.NEXTVAL, 1, #{suggestionTitle}, #{suggestionContents}, SYSDATE, #{suggestionCategory}, #{suggestionDivision}, DEFAULT)
 	</insert>
</mapper>
