<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mypageMapper">


	<resultMap id="dietaryGoalSet" type="DietaryGoal">
		<id property="memberNo" column="mno"/>
		<result property="gender" column="gender"/>
		<result property="age" column="age"/>
		<result property="height" column="height"/>
		<result property="weight" column="weight"/>
		<result property="targetWeight" column="targetweight"/>
		<result property="workrate" column="workrate"/>
		<result property="goalCalories" column="goalcalorie"/>
		<result property="date" column="goalupdatedate"/>
	</resultMap>


	<update id="updateMyDietaryGoal">
		update member
		set gender=#{gender},age=#{age},height=#{height},weight=#{weight},targetweight=#{targetWeight},workrate=#{workrate},goalcalorie=#{goalCalories},goalupdatedate=sysdate
		where mno=#{memberNo}
	</update>
	
	<select id="selectMyDietaryGoal" resultMap="dietaryGoalSet">
		select * from member where mno=#{no}
	</select>

</mapper>
