.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
body {
    
    font-family: "Roboto";
    color: #4A4A4A;
    padding-top: 0 !important;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}




.frequency-question-menu{
    background:#4A4A4A;
}
.frequency-question-menu li a {
    font-weight: normal;
    font-size: 14px !important;
    color: #ffffff !important;
    font-family: Helvetica !important;
    text-transform: none !important;
    letter-spacing: 0.4px;
}
.frequency-question-menu li a:hover{
    
    background:none;
    color: rgb(231,108,94) !important;
    transition: all 0.3s linear;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}










.left-side-nav-stacked li a {
    
    border: 1px solid #E7EAEA;
    line-height: 30px;
    border-radius: 0;
    margin-top: 0;
    color: #4A4A4A;
    /* font-weight: bold; */
    padding-top: 0;
    padding-bottom: 0;
}

.left-side-nav-stacked li p {
    
    height:100px;
    background:#2E2E2E;
    line-height: 100px;
    border-radius: 0;
    margin-top: 0;
    margin-bottom:0;
    color: white;
    /* font-weight: bold; */
    padding-top: 0;
    padding-bottom: 0;
    text-align:center;
    font-size:35px;
}

#center-logo{
    height:100px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .left-side-nav-stacked li a:hover {
    
    border: 1px solid #E7EAEA;
    color: #8b0000;
    /* font-weight: bold; */
    transition: all 0.3s linear;
}





.edit-channel-form {
    padding: 25px;
    background: white;
}



.edit-channel-form h2.title {
    font-family: Roboto;
    font-size: 24px;
    margin:0;
}
.box-header {
    color: #4A4A4A;
    display: block;
    padding: 15px 0;
    position: relative;
}

.table-header-gray th {
    background: #f5f5f5;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.frequency-question:hover{
    cursor:pointer;
}


#frequency-question-table tr{
    display:none;
}

.modal-backdrop.in{
	opacity:0;
}


.modal-dialog {
    width: 600px;
    margin: 150px auto 0 auto !important;
}