<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.dstay.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.dstay.product.model.vo.Product" alias="Product"/>
		<typeAlias type="com.kh.dstay.guestOrder.model.vo.GuestOrder" alias="GuestOrder"/>
		
		<typeAlias alias="productCategory" type="com.kh.dstay.lee.products.model.vo.ProductCategory"/>
		
		<typeAlias type="com.kh.dstay.member.model.vo.Review" alias="Review"/>
		<typeAlias type="com.kh.dstay.member.model.vo.ReviewImage" alias="ReviewImage"/>
		<typeAlias type="com.kh.dstay.member.model.vo.Diet" alias="Diet"/>
		<typeAlias type="com.kh.dstay.member.model.vo.FoodSearch" alias="FoodSearch"/>
		<typeAlias type="com.kh.dstay.member.model.vo.WishProduct" alias="WishProduct"/>
		<typeAlias type="com.kh.dstay.member.model.vo.OrderInfo" alias="OrderInfo"/>
		<typeAlias type="com.kh.dstay.member.model.vo.DietaryGoal" alias="DietaryGoal"/>
		<typeAlias type="com.kh.dstay.member.model.vo.MyCoupon" alias="MyCoupon"/>
		
		<typeAlias type="com.kh.dstay.admin.product.model.vo.Product" alias="ProductAdmin"/>
		<typeAlias type="com.kh.dstay.admin.product.model.vo.Ingredient" alias="IngredientAdmin"/>
		<typeAlias type="com.kh.dstay.admin.product.model.vo.ProductImage" alias="ProductImageAdmin"/>
		<typeAlias type="com.kh.dstay.admin.product.model.vo.ProductStorage" alias="ProductStorageAdmin"/>
		<typeAlias type="com.kh.dstay.admin.product.model.vo.IngredientCategory" alias="IngredientCategoryAdmin"/>
		<typeAlias type="com.kh.dstay.admin.product.model.vo.ProductCategory" alias="ProductCategoryAdmin"/>
		<typeAlias type="com.kh.dstay.admin.product.model.vo.ProductSale" alias="ProductSaleAdmin"/>
		
		<typeAlias type="com.kh.dstay.admin.member.model.vo.Member" alias="MemberAdmin"/>
		<typeAlias type="com.kh.dstay.admin.member.model.vo.Report" alias="ReportAdmin"/>
		<typeAlias type="com.kh.dstay.admin.member.model.vo.Address" alias="AddressAdmin"/>
		<typeAlias type="com.kh.dstay.admin.member.model.vo.CouponInformation" alias="CouponInfoAdmin"/>
		

		<typeAlias type="com.kh.dstay.admin.revenue.model.vo.GuestOrder" alias="GuestOrderAdmin"/>
		<typeAlias type="com.kh.dstay.admin.revenue.model.vo.Order" alias="OrderAdmin"/>
		<typeAlias type="com.kh.dstay.admin.revenue.model.vo.Payment" alias="PaymentAdmin"/>
		<typeAlias type="com.kh.dstay.admin.revenue.model.vo.Refund" alias="RefundAdmin"/>
		<typeAlias type="com.kh.dstay.admin.inquiry.model.vo.Inquiry" alias="InquiryAdmin"/>

		<typeAlias alias="product_Lee" type="com.kh.dstay.lee.products.model.vo.Product"/>
		<typeAlias alias="productCategory_Lee" type="com.kh.dstay.lee.products.model.vo.ProductCategory"/>
		<typeAlias alias="productInquery_lee" type="com.kh.dstay.lee.products.model.vo.ProductInquery"/>
		<typeAlias alias="shoppingCart_lee" type="com.kh.dstay.lee.perchase.model.vo.ShoppingCart"/>
		<typeAlias alias="addAddress_lee" type="com.kh.dstay.lee.perchase.model.vo.AddAddress"/>
		<typeAlias alias="BookMark_lee" type="com.kh.dstay.lee.products.model.vo.BookMark"/>
		<typeAlias alias="Review_lee" type="com.kh.dstay.lee.products.model.vo.ProductReview"/>
		<typeAlias alias="pay_lee" type="com.kh.dstay.lee.perchase.model.vo.Pay"/>
		<typeAlias alias="guest_lee" type="com.kh.dstay.lee.perchase.model.vo.Guest"/>
		<typeAlias alias="recentAddress_lee" type="com.kh.dstay.lee.perchase.model.vo.RecentAddress"/>
	</typeAliases>

	<mappers>
		<mapper resource="mappers/2_bak/bak-mapper.xml"/>

		<mapper resource="mappers/3_han/suggestionMapper.xml"/>
		<mapper resource="mappers/3_han/noticeMapper.xml"/>
		<mapper resource="mappers/3_han/frequencyQuestionAnswerMapper.xml"/>
				<mapper resource="mappers/3_han/chatMapper.xml"/>
		
		<mapper resource="mappers/4_jong/mainPage-mapper.xml"/>
		
		<mapper resource="mappers/5_kim/member-mapper.xml"/>
		<mapper resource="mappers/5_kim/product-mapper.xml"/>

		<mapper resource="mappers/5_kim/revenue-mapper.xml"/>
		<mapper resource="mappers/5_kim/inquiry-mapper.xml"/>
		
		<mapper resource="mappers/6_lee/product-mapper.xml"/>
		<mapper resource="mappers/6_lee/perchase-mapper.xml"/>

		<mapper resource="mappers/7_yun/mypage-mapper.xml"/>
	</mappers>
</configuration>