<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bakMapper">

<resultMap id="memberResultSet" type="Member">
	<id property="no" column="m_no"/>
	<result property="email" column="email"/>
	<result property="phone" column="phone"/>
	<result property="password" column="password"/>
	<result property="name" column="name"/>
	<result property="nickName" column="nickname"/>
	<result property="gender" column="gender"/>
	<result property="age" column="age"/>
	<result property="goalCalorie" column="goal_calorie"/>
	<result property="date" column="m_date"/>
	<result property="status" column="status"/>
</resultMap>
<select id="login" resultMap="memberResultSet">
	select * from member
	where email=#{email} and status='Y'
</select>
 
 <select id="ajaxDuplicateCheck" resultType="_int">
 	select count(*)
 	from member
 	where email=#{email}
 </select> 	
</mapper>
